.container {
  margin: auto;
  width: 800px;
}

.phoneimage{
  width: 440px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
}

.signupform{
  height: 200px;
  width: 346px;
  display: inline-block;
  background-color: blue;
  margin: 0px;
}
.phoneimage img{
  width: 400px;
  margin-top: 40px;
}
