body{
  font-family: sans-serif;
}

.container {
  margin: auto;
  width: 800px;
}

.phoneimage{
  width: 440px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
}

.signupform{
  width: 346px;
  display: inline-block;
  margin: 0px;
  float: right;
  text-align: center;
}

.phoneimage img{
  width: 400px;
  margin-top: 40px;
}

.imageheader img{
  width: 250px;
}

.signuptext{
  width: 250px;
  color: #999;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}
